accelerate==0.24.1
cn2an==0.5.23
einops==0.8.1
huggingface_hub==0.34.3
inflect==7.5.0
inflect==7.3.1
ipython==8.12.3
jieba==0.42.1
json5==0.12.0
langsegment==0.2.0
librosa==0.11.0
numpy==2.3.4
onnxruntime==1.22.1
openai_whisper==20250625
phonemizer==3.3.0
pykakasi==2.3.0
pyopenjtalk==0.4.1
pypinyin==0.55.0
pyworld==0.3.5
PyYAML==6.0.2
PyYAML==6.0.3
ruamel.base==1.0.0
ruamel_yaml==0.18.16
safetensors==0.6.2
scipy==1.16.3
six==1.17.0
soundfile==0.13.1
tokenizers==0.22.1
torch==2.0.1
torchaudio==2.0.2
tqdm==4.67.1
transformers==4.41.2
Unidecode==1.4.0
